* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  /* background-color: #3e4560; */
  background-color: #b5838d;

  /* color: white; */
  color: #eae2b7;
}

.container {
  padding: 0 10px;
}

.title {
  text-align: center;
  margin: 20px;
  /* color: #d6d5ac; */
  color: #ffbe0b;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

input {
  margin-bottom: 25px;
}

input[type="text"] {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
}

.box {
  height: 100px;
  width: 100%;
  /* background-color: #c6d5ac; */
  background-color: #6d6875;

  margin-bottom: 25px;
}

/* display labels and toggle horizontally */
.toggle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-text {
  font-size: 18px;
}

/* style the toggle button as well as the inner circle  using explicit sizing */
.toggle-btn {
  height: 30px;
  width: 60px;
  /* background-color: gray; */
  background-color: #ffcdb2;

  border-radius: 30px;
  padding: 5px;
  margin: 0 10px;
}

.inner-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: white; */
  background-color: #ffb4a2;

  transition: all 250ms;
}

/* if the .toggle-btn has a class of .toggled, we'll grab the .inner-circle & add some styles there */
.toggle-btn.toggled > .inner-circle {
  /* this will move the .inner-circle to the other side */
  transform: translateX(30px);
  /* background-color: #333; */
  background-color: #e5989b;
}

/* define an .unselected class that will de-emphasize the non-selected text */
.unselected {
  opacity: 0.25;
}
